[submodule "src/viewer/CmdLine"]
	path = src/3rdparty/CmdLine
	url = https://github.com/abolz/CmdLine.git
[submodule "src/3rdparty/tinyply"]
	path = src/3rdparty/tinyply
	url = https://github.com/ddiakopoulos/tinyply.git
[submodule "src/3rdparty/imgui"]
	path = src/3rdparty/imgui
	url = https://github.com/ocornut/imgui
[submodule "src/3rdparty/rapidjson"]
	path = src/3rdparty/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "src/3rdparty/pbrt-parser"]
	path = src/3rdparty/pbrt-parser
	url = https://github.com/ingowald/pbrt-parser
